﻿@{
    ViewData["Title"] = "Contact";
}


<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<link rel="stylesheet" type="text/css" href="styles2.css">
<body id ="contactFront">


	<div id ="PresentationUp">
		<div id ="center">

			<h1>NAME</h1><br>
			<input type="email" style="heigth : 100px; width : 100% " class ="mail" name="Write your Name here"><br>
			<h1>E-MAIL</h1><br>
			<input type="email" style="heigth : 100px; width : 100%" class="mail" name="Write your email here. example: xxxxxxx@gmail.com"><br>
			<h1>MESSAGE</h1><br>
			<input type="email" style="heigth : 100px; width : 100%" class="mail" name="Write your message here."><br><br><br>
			<button>SEND</button>
			<br><br>

		</div>
			
	</div>

</body>
</html>