﻿@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html>
<head>
    
	<title></title>
</head>

<body>
<div class="Resume-front">
	
	<div>

		<div class ="Presentation_Top">
			<div class ="centerPresentation-left">
				<center>
					<h2 class="white">JOB TITLE</h2><br>
					<h4 >Dancer and Future Ingeniere</h4><br>
					<p>--------------------------------</p><br>
					<h2 class="white">NAME</h2><br>
					<h4>Josue David Lopez Florian</h4><br>
					<p>--------------------------------</p><br>
					<h2 class="white">SEX</h2><br>
					<h4>Male</h4><br>
					<p>--------------------------------</p><br>
					<h2 class="white">ADDRESS</h2><br>
					<h4>Guatemala, Guatemala City</h4><br>
					<p>--------------------------------</p><br>
					<h2 class="white">Email</h2><br>
					<h4>lop17081@uvg.edu.gt</h4><br>
					<p>--------------------------------</p><br>
				</center>

			</div>
			<div class ="centerPresentation-center">
			<center>
				<img class="" id="perfil" src="/images/foto.jpg"><br><br><br>
				<h2 class="white">FOLLOW ME:</h2><br><br>
				<img class="redes" src="https://images.sftcdn.net/images/t_optimized,f_auto/p/144349b4-96d1-11e6-9e99-00163ed833e7/2188764103/facebook-logo.png">
				<img class="redes" src="https://www.seeklogo.net/wp-content/uploads/2011/06/Twitter-icon-vector-400x400.png">
				<img class="redes" src="https://storage.googleapis.com/gweb-uniblog-publish-prod/images/YouTube.max-2800x2800.png">
				<img class="redes" src="https://instagram-brand.com/wp-content/themes/ig-branding/assets/images/ig-logo-email.png">
				<img class="redes" src="https://themrphone.com/mrphone_blogs/wp-content/uploads/2017/10/whatsapp_PNG4.png">
			</center>


			</div>
			<div class="centerPresentation-right">
				<h4 id="textright">Hi, I am josue David Lopez Florian. This is my resume created in a web page made in html y css. This is my proyect to show the capacities of my web page to be responsive and can adapt to diferente dispositives.</h4><br>


			</div>
		</div>
		<br>

	</div>

</div>
<div class="Resume-Center">
	<div class="Presentation_Center">

			<div class="middlePresentation-left">
				<h2 class="white">ABOUTE ME</h2><br>
				<strong><h3>I am a estudent from Universidad del Valle of Guatemala, a 19 years old guy who born june 19 1998 that study ingeniere in Computer Science.</h4>
				<h4>I'm part of a family conform by my mother, father and sister. I Started studing at 6 years old in the school San Agustin. I am the youngest member of the family and always the most unique.</h3>
				</strong>
				<br>
				<br>
				<h2 class="white">MY AMBITIONS</h2>	
				<ul>
					<strong>
					<li>Create a succesful videogame</li>
					<li>Become in a succesful dancer</li>
					<li>Open my own Academy</li>
					<li>Create a Studio for videogames</li>
					<li>Develope an app to make</li>
					</strong>

				</ul>




			</div>

			<div class="middlePresentation-right">
				<h2 class="white">EXPERIENCE</h2><br>
				<ul>
					<li>JAVA - 8/10</li>
					<li>HTML - 9/10</li>
					<li>PYTHON - 8/10</li>
					<li>CSS - 8/10</li>
					<li>JAVASCRIPT - 8/10</li>
					<li>C++ - 7/10</li>
					<li>SQL - 4/10</li>
					<li>VISUAL BASIC - 7/10</li>
				</ul>
				<br>
				<h2 class="white">Studies and Experience</h2>
				<h3>bachelor's degree in science and letters with computer orientation</h3>
				<h3>Dancer 6 years</h3>
				<h3>coreographer 4 years</h3>
				<h3>Dacne teacher 1 year</h3>



			</div>



	</div>

</div>



</body>
</html>
