*{
	box-sizing: border-box;
}
body{
	background-color: rgb(255, 255, 255);
}
.Resume-front{
	background-image: url(https://orig00.deviantart.net/05ae/f/2011/258/a/5/mario_3d_fhd_by_paullus23-d49xaoj.jpg);
	
	margin-top: 80px;

	padding-top: 50px;

	background-position: center top;
}
.Resume-Center{
	background-image: url(http://i.imgur.com/NPDe2.png);

	background-position: center center;
	
}
[class*="Resume-"] {
    

	background-repeat: no-repeat;

	background-attachment: fixed;

	background-size: cover;

	background-color: #464646;

	background-size: cover;
}
h1{
	padding-bottom: 0px;
	margin: 0px;
}

#titulo{
	size: 30px;
	font-family: "Times New Roman";
}
#textright{
	font-size: 20px;
}
li{
	margin: 15px;
	font-family: "Times New Roman";
}
[class*="Presentation_"]{

	background-position: center center;

	border-radius: 20px;

	color: #CCCCCC;

	display: block;

	background: #4E4948; /* fallback color for old browsers */background: rgba(17, 16, 15, 0.5);

	padding-top: 0px;

	content: "";

    clear: both;
    
    display: block;
    margin-left:auto;
	margin-right: auto;
    margin-bottom: 20px;
    width: 80%;

    overflow:hidden;

    clear: both;

}
.white{
	color: white;
}
p{
	margin: 0;
    padding: 0em;
}
h2{
	margin: 0;
    padding: 0em;
}
h4{
	margin: 0;
    padding: 0em;
}
.centerPresentation-right{
	float: right;
	
}
.centerPresentation-center{

	
	vertical-align:middle;

}
#perfil{
	height: 300px;
	width: 275px;
	border: 5px solid white;
	margin-left:auto;
	margin-right: auto;
}
[class*="centerPresentation"] {
    float: left;
    padding-top: 20px;
    width: 33.33%;
    padding-left: 50px;
	padding-right: 50px;
}

[class*="middlePresentation"] {
    float: left;
    padding-top: 20px;
    width: 50%;
    padding-left: 50px;
	padding-right: 50px;
}

.redes{
	width: 35px;
	height: 35px;
}


@media only screen and (max-width: 1024px) {
    
    .centerPresentation-left{
        width: 50%;
    }
    .centerPresentation-center{
        width: 50%;
        float: right;
    }
    
    .centerPresentation-right{
        width: 100%;
    }
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="centerPresentation"] {
    float: left;
   
    width: 100%;
    
}

[class*="middlePresentation"] {
    float: left;
   
    width: 100%;
    
}

}

@media only screen and (min-width: 768px) {
    /* For mobile phones: */
    #perfil{
	height: 200px;
	width: 175px;
	border: 5px solid white;
	margin-left:auto;
	margin-right: auto;
}
    
}

@media only screen and (min-width: 1100px) {
    /* For mobile phones: */
    #perfil{
	height: 300px;
	width: 275px;
	border: 5px solid white;
	margin-left:auto;
	margin-right: auto;
}
}

