*{
	box-sizing: border-box;
}

#contactFront{
	background-image: url(http://thewallpaper.co/wp-content/uploads/2016/10/hd-wallpapers-amazing.cool_.download-high-definition-pictures-artwork-tablet-free-wallpapers-4k-1920x1080.jpg);

	padding-top: 50px;

	background-position: center top;

	background-repeat: no-repeat;

	background-attachment: fixed;

	background-size: cover;

}

#PresentationUp{

	position: center center;

	border-radius: 20px;

	color: #CCCCCC;

	display: block;

	background: #4E4948; /* fallback color for old browsers */background: rgba(255, 255, 255, 0.2);

	padding-bottom: : 20px;

	content: "";

    clear: both;
    
    display: block;

    margin-left:auto;

	margin-right: auto;

	margin-top: auto;

	margin-bottom: auto;

    width: 80%;

    overflow:hidden;

    clear: both;

    position: absolute;

    left: 50%;

    top: 50%;

    transform: translate(-50%, -50%);

    -webkit-transform: translate(-50%, -50%);
}

#mail{
	size: 40px;
}